<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps: Starter Project</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <nav id="drawer" class="nav">
      <div class="container">
        <div class="nav-logo">
          <h2>Kuliner-an</h2>
        </div>
        <ul class="nav-list">
          <li class="nav-item"><a href="index.html">Home</a></li>
          <li class="nav-item"><a href="#">Favorite</a></li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/syahrill-ramadhan/"
              >About Us</a
            >
          </li>
        </ul>
        <div id="menu" class="menu-toggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="jumbotron-inner"></div>
      <div class="jumbotron-text">
        <h1 tabindex="0" id="maincontent" class="jumbotron-tittle"><span>Ayo!!!</span></br>Tentukan <span>Makanan</span> dan <span>Minuman</span> Favorite-Mu</h1>
        <p tabindex="0" class="jumbotron-tagline">Hanya ada di <span>Kuliner-an</span></p>
        <a href="#content">Get Started</a>
      </div>
    </div>
    <main>
      <section class="content">
        <div class="explore-rest">
          <div class="container">
            <h1 tabindex="0" id="content" class="explore-label">Explore Kuliner-an</h1>
            <div class="explore-post">
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Copyright&copy; 2021 - Kuliner-an Apps</p>
    </footer>
  </body>
</html>
